<div class="container">
  <!-- to inform our app component of the event, in this case server creation -->
  <!-- bind it so that it listens to that event, onServerAdded -->
  <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
    ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- we want to access the element from outside -->
      <!-- so we bind to it, use square brackets and name element equals the element name -->
      <app-server-element 
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"></app-server-element>
    </div>
  </div>
</div>